.time-tracking-body{
  height: 85vh;
  width: 100%;
  display: grid;
  grid-template-rows: 10% 60% 20%;
}
.button-clock .md-raised {
  width: 15vw;
  height: 5vw;
  font-size: 1.5vw;
  border-radius: 100px
}
