#header {
    position: fixed;
    width: 100vw;
    height: 50px;
    z-index: 6;
    background-color: #154c79;
    color: white;
    padding: 8px 5px;
}

#header .site-title {
    color: white;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

#header .user-name {
    color: white;
}

#header .dropdown-item :hover {
    background-color: grey;
    cursor: pointer;
}

.item-account {
    min-height: 100% !important;
}

#header .item-container {
    background-color: #154c79;
    min-height: 100% !important;
}
.image_avatar{
    object-fit: contain;
    width: 100%;
    height: 150px;
}