.login-page-container {
    width: 100vw;
    height: 100vh; 
    display: grid;
    grid-template-rows: 15% 50% 25%;
    position: relative;
  }
  
  .login-page-contents {
    margin: auto;
    width: 50vw;
    height: 60vh;
    background-color: white;
    border: solid white;
    border-radius: 1%;
    box-shadow: 10px 5px 5px rgb(223, 223, 223);
  }
  
  .notification-modal {
    position: absolute;
  }
