.modal-body-text {
    font-size: 3vh;
    text-align: left;
    white-space: pre-line;
    max-height: 20vh;
  }
  
.noti-header {
    margin: auto
  }

.label-layout {
    margin-top: 1.5vh;
    font-size: 2.5vh;
    font-weight: 700;
    color: #0d47a1;
    /* text-align: right; */
  }

  .content-layout {
    display: grid;
    grid-template-columns: 41% 5% 50%;
    text-align: center;
  }

  .error-label {
    display: block;
    color: #b71c1c;
    font-size: 1.7vh;
    margin-left: 230px;
  }