#usermanagement {
    background-color: whitesmoke;
    padding: 1.5%;
    height: 90vh;
    width: 100vw;
}

#usermanagement .main-page {
    /* background-color: white; */
    height: 100%;
    overflow: auto;
}

#usermanagement .main-page .page-title {
    font-size: large;
    /* padding: 0 24px; */
    color: #448aff;
    font-weight: bold;
    padding-bottom: 24px;
    /* border-bottom: 1px solid gray; */
}

#usermanagement-table-container .usermanagement-table {
    width: 100%;

}

.text_style{
    font-size: 1rem !important;
    font-family: Roboto,sans-serif!important;
    font-weight: 500;
}

.textred{
    color: red;
}


.page-edit-report-title{
    font-size: large;
    color: #448aff;
    font-weight: bold;
    display: inline;
}

.page-edit-report-title:hover{
    color: #0a47b1;
    display: inline;
    cursor: pointer;
}


p,h3,h4 {
    margin: 0;
}

.title-timeline{
    font-size: 20px;
    font-weight: 400;
}

.description-timeline{
    font-size: 18px;
}