.daily-report-error-label {
    display: block;
    margin-top: -20px;
    color: #b71c1c;
    font-size: 15px;
}

.user-image-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.list-search-user-container {
    max-height: 300px;
    overflow: auto;
}

#listUserCard {
    display: inline-block;
    position: absolute;
    z-index: 1;
    margin-left: 22px;
    border: 1px solid gray;
}

#listUserCard::before {

    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 100%;
    left: -10px;
    top: 10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid gray; 
}