#my-drawer {
    height:100vh;
    width:25vh;
    min-width: 14vw;
    padding-top: 50px;
}

#my-drawer .drawer-item {
    padding: 5px;
    margin: 3px;
}

#my-drawer .drawer-item-active {
    padding: 5px;
    margin: 3px;
    background-color: #154c79;
    color: white;
}

#my-drawer .drawer-item-title {
    font-size: 15px;
}

@media only screen and (min-width: 600px) {
    #my-drawer{
        /* min-width: 10vw; */
        max-width: 10px;
    }
  }