USE [master]
GO
/****** Object:  Database [QLNV]    Script Date: 10/13/2020 10:01:30 AM ******/
CREATE DATABASE [QLNV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLNV', FILENAME = N'D:\5.HK5\DBMS\DATA\QLNV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLNV_log', FILENAME = N'D:\5.HK5\DBMS\DATA\QLNV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLNV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLNV]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 10/13/2020 10:01:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[Manv] [char](10) NOT NULL,
	[Hoten] [varchar](30) NULL,
	[Ngaysinh] [datetime] NULL,
	[Luong] [int] NULL,
	[SoDT] [char](10) NULL,
	[MaPB] [char](10) NULL,
	[Gioitinh] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Manv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 10/13/2020 10:01:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[Maphong] [char](10) NOT NULL,
	[Tenphong] [varchar](30) NULL,
	[Diadiem] [varchar](40) NULL,
	[Truongphong] [char](10) NULL,
 CONSTRAINT [PK_PHONG_NHAN_VIEN] PRIMARY KEY CLUSTERED 
(
	[Maphong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[NHAN_VIEN] ([Manv], [Hoten], [Ngaysinh], [Luong], [SoDT], [MaPB], [Gioitinh]) VALUES (N'NV01      ', N'Le Duc Thang', NULL, NULL, NULL, NULL, N'Nam       ')
INSERT [dbo].[NHAN_VIEN] ([Manv], [Hoten], [Ngaysinh], [Luong], [SoDT], [MaPB], [Gioitinh]) VALUES (N'NV02      ', N'Bui Viet Duy', NULL, NULL, NULL, NULL, N'nam       ')
INSERT [dbo].[NHAN_VIEN] ([Manv], [Hoten], [Ngaysinh], [Luong], [SoDT], [MaPB], [Gioitinh]) VALUES (N'NV03      ', N'Ðinh Tu?n An', NULL, NULL, NULL, NULL, N'nam       ')
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_PHONG] FOREIGN KEY([MaPB])
REFERENCES [dbo].[PHONG] ([Maphong])
GO
ALTER TABLE [dbo].[NHAN_VIEN] CHECK CONSTRAINT [FK_NHANVIEN_PHONG]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_NHAN_VIEN] FOREIGN KEY([Truongphong])
REFERENCES [dbo].[NHAN_VIEN] ([Manv])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_PHONG_NHAN_VIEN]
GO
USE [master]
GO
